
@{
    ViewBag.Title = "CustomerTruckSelector";

}

<style>

    #map {
        height: 500px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<h2>CustomerTruckSelector</h2>

<div id="map"></div>

@section Scripts {
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
        var points = [
            ['Pritzlaff Truck', 43.034332, -87.912167, 12, 'www.google.com'],
            ['name2', 59.941412822085645, 30.263564729357767, 11, 'www.google.com'],
            ['name3', 59.939177197629455, 30.273554411974955, 10, 'www.google.com']
        ];



        function setMarkers(map, locations) {
            var shape = {
                coord: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
            };


            for (var i = 0; i < locations.length; i++) {
                


                var place = locations[i];
                var myLatLng = new google.maps.LatLng(place[1], place[2]);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    shape: shape,
                    title: place[0],
                    zIndex: place[3],
                    url: place[4]
                });

                google.maps.event.addListener(marker, 'click', function () {
                    window.location.href = this.url;
                });

            }
        }

        function initMap() {
            var myOptions = {
            center: new google.maps.LatLng(43.038619, -87.904495),
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
            var map = new google.maps.Map(document.getElementById('map'), myOptions);
                
            
            setMarkers(map, points);
        }

    </script>










    <script async defer
            type="text/javascript" src='@(ViewBag.key)'>
    </script>
}