@model KafeCruisers.Models.CardInfo
@{
    ViewBag.Title = "OrderAccepted";
}
    <style>
        a.button {
            width: 100%;
        }
    </style>
<h2>Payment Method</h2>
<div>

    <br />
    <br />
    <br />
    <table class="table">
        <tr>
            <td>Card on File:</td>
            <td>@Html.DisplayFor(model => model.CardName)</td>
            <td>@Html.ActionLink("Use This Card", "UsePreloadedCard", "Order", null, new { @class = "button" })</td>

        </tr>
    </table>








</div>

<div>
    @Html.ActionLink("Set Up New Card", "SetUpStripe", "Order", null, new { @class = "button" })
</div>
