@model KafeCruisers.Models.CardInfo
@{
    ViewBag.Title = "OrderAccepted";
}

<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardName)
        </dd>

        <dd>
            @Html.ActionLink("Use This Card", "UsePreloadedCard", "Order")
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Set Up New Card", "SetUpStripe", "Order")
</div>
